#drupal-off-canvas .bs_tooltip {
  background: #f8f9fa;
  bottom: 100%;
  color: #333333;
  font-weight: bold;
  display: block;
  left: 50%;
  margin-left: -37.5px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 5px 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 75px;
  transform: translateY(-10px);
  transition: all .25s ease-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  border-radius: 2px;
  white-space: normal;
  z-index: 1;
}

#drupal-off-canvas .bs_tooltip.bs_tooltip-lg {
  width: 150px;
  margin-left: -75px;
}

#drupal-off-canvas .bs_tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #f8f9fa 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

#drupal-off-canvas .bs_tooltip[data-placement="bottom"] {
  bottom: auto;
  top: 100%;
  margin-top: 15px;
  transform: translateY(10px);
}

#drupal-off-canvas .bs_tooltip[data-placement="bottom"]:after {
  border-top: 0;
  border-bottom: solid #f8f9fa 10px;
  top: -10px;
  bottom: auto;
}
