// Colors
$white:     #ffffff;
$gray-f8f:  #f8f9fa;
$gray-e2e:  #e2e6ea;
$gray-dae:  #dae0e5;
$gray-dbd:  #dbdbdb;
$gray-666:  #666666;
$gray-444:  #444444;
$gray-333:  #333333;
$gray-212:  #212529;
$black:     #000000;

// Tooltips
$zindex-tooltip: 1070;
