@import "variables";

#layout-builder-modal {
  .bs_tab-pane--appearance {
    details {
      background: $gray-444;
      color: $white;

      input, button, select, optgroup, textarea {
        color: $gray-444;
      }

      a {
        color: $white;

        &:hover {
          color: $gray-f8f;
        }
      }
    }
  }

  #bs_nav-tabs {
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      list-style: none;
    }
  }
}
