#layout-builder-modal {
  .bs_tab-pane--appearance {
    details {
      background: #444;
      color: #fff;
        input, button, select, optgroup, textarea {
        color: #444;
      }
      a {
        color: #ffffff;
        &:hover {
          color: #fefefe;
        }
      }
    }
  }

  #bs_nav-tabs {
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      list-style: none;
    }
  }
}
