@import "variables";
// Tabs
#drupal-off-canvas,
#layout-builder-modal {
  //
  // Horizontal Icon Tabs
  //

  // Our icons/headings
  #bs_nav-tabs {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 -20px 20px -20px;
    width: calc(100% + 40px);

    li {
      flex: 1 1 auto;
      margin: 0 1px;

      a {
        cursor: pointer;
        position: relative;
        padding: .5rem .75rem;
        min-height: 50px;
        min-width: 16.666%;
        background: $gray-212;
        font-size: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s background-color ease-in-out;

        &.active,
        &.active:hover {
          background-color: $gray-444;
        }

        &:hover {
          background: rgba($gray-212, .5);

          .bs_tooltip {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0px);
          }
        }
      }
    }
  }

  .blb_icon {
    max-width: 24px;
    height: auto;
    background: none;
  }

  //
  // Tabs Panes
  //
  // Tabbable tabs
  //
  // Hide tabbable panes to start, show them when `.active`

  #bs_tabContent {
    > .bs_tab-pane {
      display: none;
    }
    > .active {
      display: block;
    }
  }
}
