#drupal-off-canvas *,
#drupal-off-canvas *:not(div) {
  color: #ffffff;
  background: transparent;
}

#drupal-off-canvas,
#layout-builder-modal {
  background-color: #000000;
}

#drupal-off-canvas input[type="submit"],
#drupal-off-canvas button.button,
#layout-builder-modal input[type="submit"],
#layout-builder-modal button.button {
  color: #ffffff;
  background: #277abd;
}

#drupal-off-canvas input[type="submit"].button--primary,
#drupal-off-canvas button.button.button--primary,
#layout-builder-modal input[type="submit"].button--primary,
#layout-builder-modal button.button.button--primary {
  color: #ffffff;
  background: #277abd;
}
