/**
 * @file
 * Set base styles for the off-canvas dialog.
 */
/* Set some global attributes. */
#drupal-off-canvas *,
#drupal-off-canvas *:not(div) {
  color: #000000;
  background: unset;
}

/* Generic elements. */
#drupal-off-canvas a,
#drupal-off-canvas .link {
  color: #2AAFFF;
}

#drupal-off-canvas hr {
  background: #ccc;
}

/* Override jQuery UI */
#drupal-off-canvas .ui-widget-content a {
  color: #85bef4 !important;
}

#drupal-off-canvas .messages--status {
  color: #DC7C7C;
}

#drupal-off-canvas .messages--warning {
  color: #F1C666;
}

#drupal-off-canvas .messages--error {
  color: #DC7C7C;
}

/**
 * @file
 * Styling for the off-canvas ui dialog. Including overrides for jQuery UI.
 */
/* Style the dialog-off-canvas container. */
.ui-dialog.ui-dialog-off-canvas {
  /* Layer the dialog just under the toolbar. */
  color: #000000;
  background: #ffffff;
}

.ui-widget.ui-dialog.ui-dialog-off-canvas {
  border: 1px solid transparent;
}

/* Style the off-canvas dialog header. */
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  padding: 1em;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  background: #ffffff;
  font-weight: normal;
}

/* Hide the default jQuery UI dialog close button. */
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close .ui-icon {
  visibility: hidden;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
  position: absolute;
  top: calc(50% - 6px);
  right: 1em;
  width: 30px;
  height: 30px;
  transition: all 0.5s ease;
  border: 3px solid transparent;
  background-color: transparent;
  background-image: url(../icons/bebebe/ex.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close:hover,
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close:focus {
  border: 3px solid #fff;
  background-image: url(../icons/ffffff/ex.svg);
}

[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
  right: auto;
  left: 1em;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  /* Ensure that long titles do not overlap the close button. */
  max-width: 210px;
  margin: 0;
  padding-right: 0;
  /* LTR */
  /* Push the text away from the icon. */
  padding-left: 30px;
  /* LTR */
  text-align: left;
  /* LTR */
  /* Ensure that long titles are not truncated. */
  white-space: normal;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
  font-size: 16px;
}

[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  float: right;
  padding-right: 30px;
  padding-left: 0;
  text-align: right;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-title:before {
  position: absolute;
  top: 0;
  left: 1em;
  /* LTR */
  display: block;
  width: 20px;
  height: 100%;
  content: "";
  background: transparent url(../icons/ffffff/pencil.svg) no-repeat scroll center center;
  background-size: 100% auto;
}

[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-title:before {
  right: 1em;
  left: auto;
}

/* Override default styling from jQuery UI. */
#drupal-off-canvas .ui-state-default,
#drupal-off-canvas .ui-widget-content .ui-state-default,
#drupal-off-canvas .ui-widget-header .ui-state-default {
  color: #333;
  border: 0;
  font-size: 14px;
  font-weight: normal;
}

#drupal-off-canvas .ui-widget-content a {
  color: #85bef4;
}

#drupal-off-canvas input[type="submit"],
#drupal-off-canvas button.button,
#layout-builder-modal input[type="submit"],
#layout-builder-modal button.button {
  color: #ffffff;
  background: #277abd;
}

#drupal-off-canvas input[type="submit"].button--primary,
#drupal-off-canvas button.button.button--primary,
#layout-builder-modal input[type="submit"].button--primary,
#layout-builder-modal button.button.button--primary {
  color: #ffffff;
  background: #277abd;
}

#drupal-off-canvas #bs_ui,
#drupal-off-canvas #bs_ui .form-item {
  background: #ffffff;
}
