// This file provide classes examples for Padding Plugin.
// We only use these classes in configuration page when install the module.
// Note: this is just example, you can use any class from your theme.

// Main padding.
@mixin make-paddings($number, $padding){
  .bs-p-#{$number} {
    padding: $padding * 1rem !important;
  }
  .bs-pl-#{$number} { 
    padding-left: $padding * 1rem !important;
  }
  .bs-pr-#{$number} {
    padding-right: $padding * 1rem !important;
  }
  .bs-pt-#{$number} {
    padding-top: $padding * 1rem !important;
  }
  .bs-pb-#{$number} {
    padding-bottom: $padding * 1rem !important;
  }
}

// sm.
@mixin make-paddings-sm($number, $padding){
  .bs-p-sm-#{$number} {
    @media screen and (max-width: 576px) {
      padding: $padding * 1rem !important;
    }
  }
  .bs-pl-sm-#{$number} { 
    @media screen and (max-width: 576px) {
      padding-left: $padding * 1rem !important;
    }
  }
  .bs-pr-sm-#{$number} {
    @media screen and (max-width: 576px) {
      padding-right: $padding * 1rem !important;
    }
  }
  .bs-pt-sm-#{$number} {
    @media screen and (max-width: 576px) {
      padding-top: $padding * 1rem !important;
    }
  }
  .bs-pb-sm-#{$number} {
    @media screen and (max-width: 576px) {
      padding-bottom: $padding * 1rem !important;
    }
  }
}

// md.
@mixin make-paddings-md($number, $padding){
  .bs-p-md-#{$number} {
    @media (min-width: 576px) and (max-width: 992px) {
      padding: $padding * 1rem !important;
    }
  }
  .bs-pl-md-#{$number} { 
    @media (min-width: 576px) and (max-width: 992px) {
      padding-left: $padding * 1rem !important;
    }
  }
  .bs-pr-md-#{$number} {
    @media (min-width: 576px) and (max-width: 992px) {
      padding-right: $padding * 1rem !important;
    }
  }
  .bs-pt-md-#{$number} {
    @media (min-width: 576px) and (max-width: 992px) {
      padding-top: $padding * 1rem !important;
    }
  }
  .bs-pb-md-#{$number} {
    @media (min-width: 576px) and (max-width: 992px) {
      padding-bottom: $padding * 1rem !important;
    }
  }
}

// lg.
@mixin make-paddings-lg($number, $padding){
  .bs-p-lg-#{$number} {
    @media (min-width: 992px) and (max-width: 1200px) {
      padding: $padding * 1rem !important;
    }
  }
  .bs-pl-lg-#{$number} { 
    @media (min-width: 992px) and (max-width: 1200px) {
      padding-left: $padding * 1rem !important;
    }
  }
  .bs-pr-lg-#{$number} {
    @media (min-width: 992px) and (max-width: 1200px) {
      padding-right: $padding * 1rem !important;
    }
  }
  .bs-pt-lg-#{$number} {
    @media (min-width: 992px) and (max-width: 1200px) {
      padding-top: $padding * 1rem !important;
    }
  }
  .bs-pb-lg-#{$number} {
    @media (min-width: 992px) and (max-width: 1200px) {
      padding-bottom: $padding * 1rem !important;
    }
  }
}

// xl.
@mixin make-paddings-xl($number, $padding){
  .bs-p-xl-#{$number} {
    @media (min-width: 1200px) {
      padding: $padding * 1rem !important;
    }
  }
  .bs-pl-xl-#{$number} { 
    @media (min-width: 1200px) {
      padding-left: $padding * 1rem !important;
    }
  }
  .bs-pr-xl-#{$number} {
    @media (min-width: 1200px) {
      padding-right: $padding * 1rem !important;
    }
  }
  .bs-pt-xl-#{$number} {
    @media (min-width: 1200px) {
      padding-top: $padding * 1rem !important;
    }
  }
  .bs-pb-xl-#{$number} {
    @media (min-width: 1200px) {
      padding-bottom: $padding * 1rem !important;
    }
  }
}

@for $i from 1 through 5 {
  @include make-paddings($i, $i);
  @include make-paddings-sm($i, $i);
  @include make-paddings-md($i, $i);
  @include make-paddings-lg($i, $i);
  @include make-paddings-xl($i, $i);
}

// Fix the padding in the layout builder dialog.
@mixin fix-lb-dialog-padding($number, $breakpoint, $padding) {
  .ui-dialog-off-canvas {
    .bs-p-#{$breakpoint}-#{$number} {
      padding: $padding * 1rem !important;
    }
    .bs-pl-#{$breakpoint}-#{$number} {
      padding-left: $padding * 1rem !important;
    }
    .bs-pr-#{$breakpoint}-#{$number} {
      padding-right: $padding * 1rem !important;
    }
    .bs-pt-#{$breakpoint}-#{$number} {
      padding-top: $padding * 1rem !important;
    }
    .bs-pb-#{$breakpoint}-#{$number} {
      padding-bottom: $padding * 1rem !important;
    }
  }
}

$breakpoints_keys: 'sm', 'md', 'lg', 'xl';

@each $breakpoint in $breakpoints_keys {
  @for $i from 1 through 5 {
    @include fix-lb-dialog-padding($i, $breakpoint, $i);
  }
}
