/**
 * @file
 * Visual styling for forms in the off-canvas dialog.
 */

#drupal-off-canvas form {
  color: $panel_text_color;
  font-family: inherit;
}
#drupal-off-canvas input[type="checkbox"] {
  margin-right: .5rem;
  //-webkit-appearance: checkbox;
}
#drupal-off-canvas input[type="radio"] {
  margin-right: .5rem;
  //-webkit-appearance: radio;
}
//#drupal-off-canvas select:not([multiple]) {
//  -webkit-appearance: menulist;
//  -moz-appearance: menulist;
//}
//#drupal-off-canvas option {
//  display: block;
//  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
//}
#drupal-off-canvas label {
  color: $panel_text_color;
  //font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  //line-height: normal;
}
//#drupal-off-canvas .visually-hidden {
//  width: 0;
//  height: 0;
//  letter-spacing: -2em;
//  opacity: 0;
//}
#drupal-off-canvas .description,
#drupal-off-canvas .form-item .description,
#drupal-off-canvas .details-description {
  //margin-top: 5px;
  color: rgba($panel_text_color, .5);
  //font-family: inherit;
  font-size: .875rem;
  margin-bottom: 1rem;
  //font-style: normal;
}
#drupal-off-canvas .form-item {
  margin-top: .25rem;
  margin-bottom: 1rem;
}
#drupal-off-canvas .fieldset-legend {
  margin-bottom: 0.5rem;
  display: block;
}
/* Set size and position for all inputs. */
#drupal-off-canvas .form-select,
#drupal-off-canvas .form-text,
#drupal-off-canvas .form-tel,
#drupal-off-canvas .form-email,
#drupal-off-canvas .form-url,
#drupal-off-canvas .form-search,
#drupal-off-canvas .form-number,
#drupal-off-canvas .form-color,
#drupal-off-canvas .form-file,
#drupal-off-canvas .form-textarea,
#drupal-off-canvas .form-date,
#drupal-off-canvas .form-time {
  //display: block;
  //box-sizing: border-box;
  //max-width: 100%;
  //margin: 5px 0 0 0;
  //padding: 6px;
  color: inherit;
  //border-width: 1px;
  //border-radius: 2px;
  //font-family: inherit;
  font-size: 1rem;
  width: 100%;
}
/* Reduce contrast for fields against dark background. */
#drupal-off-canvas .form-text,
#drupal-off-canvas .form-tel,
#drupal-off-canvas .form-email,
#drupal-off-canvas .form-url,
#drupal-off-canvas .form-search,
#drupal-off-canvas .form-number,
#drupal-off-canvas .form-color,
#drupal-off-canvas .form-file,
#drupal-off-canvas .form-textarea,
#drupal-off-canvas .form-date,
#drupal-off-canvas .form-time {
  @include smooth-all-transition;
  border-radius: $border_radius;
  padding: .65rem 1rem;
  border: 2px solid $tabs_bottom_border_color;
  background-color: transparent;
  box-shadow: none;
}
#drupal-off-canvas .form-text:focus,
#drupal-off-canvas .form-tel:focus,
#drupal-off-canvas .form-email:focus,
#drupal-off-canvas .form-url:focus,
#drupal-off-canvas .form-search:focus,
#drupal-off-canvas .form-number:focus,
#drupal-off-canvas .form-color:focus,
#drupal-off-canvas .form-file:focus,
#drupal-off-canvas .form-textarea:focus,
#drupal-off-canvas .form-date:focus,
#drupal-off-canvas .form-time:focus {
  border-color: $panel_link_color;
  background-color: transparent;
  box-shadow: none;
  outline: 0;
}
//#drupal-off-canvas td .form-item,
//#drupal-off-canvas td .form-select {
//  margin: 0;
//}
//#drupal-off-canvas .form-file {
//  width: 100%;
//  margin-bottom: 5px;
//}
//#drupal-off-canvas .form-actions {
//  margin: 10px 0;
//  text-align: center;
//}
#drupal-off-canvas .ui-autocomplete {
  //position: absolute;
  //top: 0;
  //left: 0;
  //cursor: default;
  background-color: $panel_bg_color;
}
//#drupal-off-canvas .ui-autocomplete li {
//  display: block;
//}
#drupal-off-canvas .ui-autocomplete li a {
  //padding: 5px;
  //cursor: pointer;
  color: #595959 !important;
}
