/**
 * @file
 * Visual styling for summary and details in the off-canvas dialog.
 */

#drupal-off-canvas details {
  padding: 0;
  margin: 0 -10px;
  //display: block;
}
//#drupal-off-canvas details,
//#drupal-off-canvas summary {
//  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
//}
#drupal-off-canvas details,
#drupal-off-canvas summary,
#drupal-off-canvas .ui-dialog-content {
  outline: 0;
  color: $details_text_color;
  background: transparent;
}
//#drupal-off-canvas summary a {
//  //margin: 0 1rem;
//  //padding-top: 0;
//  //padding-bottom: 0;
//}
//#drupal-off-canvas summary a:hover,
//#drupal-off-canvas summary a:focus {
//  color: $summary_bg_color_hover;
//}
#drupal-off-canvas details,
#drupal-off-canvas summary,
#drupal-off-canvas .details-wrapper {
  /* Cancel out the padding of the parent. */
  margin: 0;
  padding: 0;
  background-image:none;
  -webkit-appearance:none;
  //border-width: 0;
}
#drupal-off-canvas .details-wrapper {
  padding: 1rem;
}
#drupal-off-canvas summary {
  position: relative;
  border-radius: $border_radius;
  margin: 4px 0;
  min-height: 40px;
  padding: 10px 20px;
//  transition: all 0.5s ease;
//  text-shadow: none;
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  background-color: rgba($summary_bg_color_active, .5);

  &:after {
    @include smooth-all-transition;
    position: absolute;
    top: 15px;
    right: 15px;
    content: '';
    display: inline-block;
    border-right: 2px solid $summary_link_color;
    border-bottom: 2px solid $summary_link_color;
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
  }

  &::-webkit-details-marker {
    display:none;
  }
}
#drupal-off-canvas summary:hover,
#drupal-off-canvas summary:focus {
  color: $summary_link_color_hover;
  background-color: $summary_bg_color_hover;

  &:after {
    border-right-color: $summary_link_color_hover;
    border-bottom-color: $summary_link_color_hover;
  }
}
//#drupal-off-canvas details[open] {
//  padding-bottom: 10px;
//}
#drupal-off-canvas details[open] > summary {
  color: $summary_link_color_active;
  background-color: $summary_bg_color_active;

  &:after {
    top: 20px;
    transform: rotate(-135deg);
  }
}
#drupal-off-canvas details[open] > summary:hover {
  //color: #fff;
  background-color: $summary_bg_color_active;
}
//#drupal-off-canvas details .placeholder {
//  color: inherit;
//  background: transparent;
//  font: inherit;
//  font-style: italic;
//}
