@import "../../variables";
@import "../../mixins";

#drupal-off-canvas,
#layout-builder-modal {
  #bs_spacing_preview_calc {
    display: none;
    visibility: hidden;
  }
  .spacing-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    .margin-box {
      width: 281px;
      height: 217px;
      background: #F1C666;
      position: relative;
      .title {
        color: $gray-383;
        top: 0.5rem;
        position: absolute;
        left: 0.5rem;
        font-size: 12px;
      }
      .margin-left,
      .margin-top,
      .margin-right,
      .margin-bottom {
        position: absolute;
        font-size: 12px;
        color: $gray-383;
      }
      .margin-left,
      .margin-right {
        width: 2rem;
        text-align: center;
        top: 50%;
      }
      .margin-left {
        left: 0;
      }
      .margin-right {
        right: 0;
      }
      .margin-top {
        top: 0.5rem;
        left: 50%;
      }
      .margin-bottom {
        bottom: 0.5rem;
        left: 50%;
      }
    }
    .padding-box {
      width: 217px;
      height: 153px;
      background: #7FB58A;
      position: absolute;
      top: 2rem;
      .title {
        color: $gray-383;
        top: 0.5rem;
        position: absolute;
        left: 0.5rem;
        font-size: 12px;
      }
      .padding-left,
      .padding-top,
      .padding-right,
      .padding-bottom {
        font-size: 12px;
        color: $gray-383;
        position: absolute;
      }
      .padding-left,
      .padding-right {
        width: 2rem;
        text-align: center;
        top: 50%;
      }
      .padding-left {
        left: 0;
      }
      .padding-right {
        right: 0;
      }
      .padding-top {
        top: 0.5rem;
        left: 50%;
      }
      .padding-bottom {
        bottom: 0.5rem;
        left: 50%;
      }
    }
    .box {
      width: 153px;
      height: 89px;
      background: $panel_bg_color;
      position: absolute;
      top: 4rem;
    }
  }
  // Range sliders
  input[type=range]:focus {
    outline: none;
  }
  input.bs-field-margin,
  input.bs-field-margin-left,
  input.bs-field-margin-top,
  input.bs-field-margin-right,
  input.bs-field-margin-bottom,
  input.bs-field-padding,
  input.bs-field-padding-left,
  input.bs-field-padding-top,
  input.bs-field-padding-right,
  input.bs-field-padding-bottom {
    -webkit-appearance: none;
    height: 6px;
    width: 100%;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 14px;
      height: 14px;
      background: #969AA2;
      border-radius: 50%;
      cursor: pointer;
    }
    &::-moz-focus-outer {
      border: 0;
    }
  }
  input.bs-field-padding,
  input.bs-field-padding-left,
  input.bs-field-padding-top,
  input.bs-field-padding-right,
  input.bs-field-padding-bottom {
    background: #7FB58A;
  }
  input.bs-field-margin,
  input.bs-field-margin-left,
  input.bs-field-margin-top,
  input.bs-field-margin-right,
  input.bs-field-margin-bottom {
    background: #F1C666;
  }
}
