/**
 * @file
 * Visual styling for forms in the off-canvas dialog.
 */

form {
  color: $panel_text_color;
  font-family: inherit;
}

input[type="checkbox"] {
  margin-right: .5rem;
}

input[type="radio"] {
  margin-right: .5rem;
}

label {
  color: $panel_text_color;
  font-size: 1rem;
  font-weight: normal;
}

.description,
.form-item .description,
.details-description {
  color: rgba($panel_text_color, .5);
  font-size: .875rem;
  margin-top: .25rem;
  margin-bottom: 1rem;
}

.form-item {
  margin-top: .25rem;
  margin-bottom: 1.5rem;
}

.fieldset-legend {
  margin-bottom: 0.5rem;
  display: block;
}

/* Set size and position for all inputs. */
.form-select,
.form-text,
.form-tel,
.form-email,
.form-url,
.form-search,
.form-number,
.form-color,
.form-file,
.form-textarea,
.form-date,
.form-time {
  color: inherit;
  font-size: 1rem;
  width: 100%;
}

/* Reduce contrast for fields against dark background. */
.form-text,
.form-tel,
.form-email,
.form-url,
.form-search,
.form-number,
.form-color,
.form-file,
.form-textarea,
.form-date,
.form-time {
  @include smooth-all-transition;
  border-radius: $border_radius;
  padding: .65rem 1rem;
  border: 2px solid $tabs_bottom_border_color;
  background-color: transparent;
  box-shadow: none;
}

.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus {
  border-color: $panel_link_color;
  background-color: transparent;
  box-shadow: none;
  outline: 0;
}

.container-inline {
  display: flex;
  margin: 0 -15px;

  > div {
    flex-grow: 1;
    padding: 0 15px;
  }
}

// Fixes for CKEditor
.cke {
  background-color: $white;
}

.cke_reset_all, .cke_reset_all *, .cke_reset_all a, .cke_reset_all textarea {
  color: inherit;
}

.form-type-textarea {
  margin-bottom: 0;
}
