// Our toggle tabs.
.blb_container_type .fieldset-wrapper > div > div {
  @include blb_box_inputs;
}

// Graphical Layout Columns
.blb_breakpoint_cols label:hover .blb_breakpoint_col {
  background-color: rgba($panel_text_color, .8);
  color: $panel_bg_color;
}

input:checked + label .blb_breakpoint_col {
  color: $panel_bg_color;
  background-color: $panel_link_color;
}

.blb_breakpoint_col {
  color: $panel_text_color;
  background-color: rgba($panel_text_color, .2);

  &.bp-selected {
    color: $panel_text_color;
    background-color: $panel_link_color;
  }
}
