.fieldgroup.field-scroll-effects {

  .fieldset-wrapper > div {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    > div {
      position: relative;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0;
      margin: 0;

      input {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
        display: block;

        + label {
          @include smooth-all-transition;
          font-size: .75rem;
          font-weight: normal;
          border: 2px solid $panel_text_color;
          padding: 10px;
          margin: 3px;
          min-height: 40px;
          width: calc(100% - 6px);
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          cursor: pointer;
          border-radius: 8px;

          &:hover {
            background-color: rgba($panel_text_color, .1);
          }
        }

        // Active state.
        &:checked + label {
          color: $panel_bg_color;
          background-color: $panel_text_color;
        }
      }

      // Custom fix for Bootstrap 3 Drupal theme.
      label {
        border: 2px solid $panel_text_color;
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;

        + input {
          opacity: 0;
          position: absolute;
        }

        // Active state.
        &.active {
          color: $panel_bg_color;
          background-color: $panel_text_color;
        }
      }
    }
  }
}
