.bs-border-style-solid {
  border-style: solid !important;
}

.bs-border-style-dashed {
  border-style: dashed !important;
}

.bs-border-style-dotted {
  border-style: dotted !important;
}

.bs-border-left-style-solid {
  border-left-style: solid !important;
}

.bs-border-left-style-dashed {
  border-left-style: dashed !important;
}

.bs-border-left-style-dotted {
  border-left-style: dotted !important;
}

.bs-border-top-style-solid {
  border-top-style: solid !important;
}

.bs-border-top-style-dashed {
  border-top-style: dashed !important;
}

.bs-border-top-style-dotted {
  border-top-style: dotted !important;
}

.bs-border-right-style-solid {
  border-right-style: solid !important;
}

.bs-border-right-style-dashed {
  border-right-style: dashed !important;
}

.bs-border-right-style-dotted {
  border-right-style: dotted !important;
}

.bs-border-bottom-style-solid {
  border-bottom-style: solid !important;
}

.bs-border-bottom-style-dashed {
  border-bottom-style: dashed !important;
}

.bs-border-bottom-style-dotted {
  border-bottom-style: dotted !important;
}

.bs-border-width-1 {
  border-width: 1px !important;
}

.bs-border-width-2 {
  border-width: 2px !important;
}

.bs-border-width-3 {
  border-width: 3px !important;
}

.bs-border-left-width-1 {
  border-left-width: 1px !important;
}

.bs-border-left-width-2 {
  border-left-width: 2px !important;
}

.bs-border-left-width-3 {
  border-left-width: 3px !important;
}

.bs-border-top-width-1 {
  border-top-width: 1px !important;
}

.bs-border-top-width-2 {
  border-top-width: 2px !important;
}

.bs-border-top-width-3 {
  border-top-width: 3px !important;
}

.bs-border-right-width-1 {
  border-right-width: 1px !important;
}

.bs-border-right-width-2 {
  border-right-width: 2px !important;
}

.bs-border-right-width-3 {
  border-right-width: 3px !important;
}

.bs-border-bottom-width-1 {
  border-bottom-width: 1px !important;
}

.bs-border-bottom-width-2 {
  border-bottom-width: 2px !important;
}

.bs-border-bottom-width-3 {
  border-bottom-width: 3px !important;
}

.bs-border-color-red {
  border-color: red !important;
}

.bs-border-color-green {
  border-color: green !important;
}

.bs-border-color-blue {
  border-color: blue !important;
}

.bs-border-left-color-red {
  border-left-color: red !important;
}

.bs-border-left-color-green {
  border-left-color: green !important;
}

.bs-border-left-color-blue {
  border-left-color: blue !important;
}

.bs-border-top-color-red {
  border-top-color: red !important;
}

.bs-border-top-color-green {
  border-top-color: green !important;
}

.bs-border-top-color-blue {
  border-top-color: blue !important;
}

.bs-border-right-color-red {
  border-right-color: red !important;
}

.bs-border-right-color-green {
  border-right-color: green !important;
}

.bs-border-right-color-blue {
  border-right-color: blue !important;
}

.bs-border-bottom-color-red {
  border-bottom-color: red !important;
}

.bs-border-bottom-color-green {
  border-bottom-color: green !important;
}

.bs-border-bottom-color-blue {
  border-bottom-color: blue !important;
}

.bs-border-top-left-radius-1 {
  border-top-left-radius: 0.5rem;
}

.bs-border-top-left-radius-2 {
  border-top-left-radius: 1rem;
}

.bs-border-top-left-radius-3 {
  border-top-left-radius: 2rem;
}

.bs-border-top-right-radius-1 {
  border-top-right-radius: 0.5rem;
}

.bs-border-top-right-radius-2 {
  border-top-right-radius: 1rem;
}

.bs-border-top-right-radius-3 {
  border-top-right-radius: 2rem;
}

.bs-border-bottom-left-radius-1 {
  border-bottom-left-radius: 0.5rem;
}

.bs-border-bottom-left-radius-2 {
  border-bottom-left-radius: 1rem;
}

.bs-border-bottom-left-radius-3 {
  border-bottom-left-radius: 2rem;
}

.bs-border-bottom-right-radius-1 {
  border-bottom-right-radius: 0.5rem;
}

.bs-border-bottom-right-radius-2 {
  border-bottom-right-radius: 1rem;
}

.bs-border-bottom-right-radius-3 {
  border-bottom-right-radius: 2rem;
}
