#drupal-off-canvas *,
#drupal-off-canvas *:not(div) {
  color: $panel_text_color;
  background: transparent;
}

#drupal-off-canvas,
#layout-builder-modal {
  background-color: $panel_bg_color;

  input[type="submit"],
  button.button {
    color: $button_text_color;
    background: $button_bg_color;

    &.button--primary {
      color: $button_text_color;
      background: $button_bg_color;
    }
  }
}