// Import default variables.
@import "../variables";

// Reset our theme color variables.
// Colors
$panel_text_color:          $gray-383;
$panel_link_color:          $blue-2aa;
$panel_bg_color:            $white;

// Tabs
$tabs_bottom_border_color:  $gray-dbd;
$tab_text_color:            $panel_text_color;
$tab_text_color_hover:      rgba($tab_text_color, .8);
$tab_text_color_active:     $blue-007;
$tab_bg_color:              $white;
$tab_bg_color_active:       $white;

// Buttons
$button_text_color:         $panel_bg_color !default;
$button_text_color_hover:   $panel_text_color !default;
$button_bg_color:           $blue-2aa !default;
$button_bg_color_hover:     darken($button_bg_color, 10%) !default;

// Import our components with our newly overridden vars from above.
@import "common";
