#drupal-off-canvas #bs_nav-tabs,
#layout-builder-modal #bs_nav-tabs {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 -20px 20px -20px;
  width: calc(100% + 40px);
}

#drupal-off-canvas #bs_nav-tabs li,
#layout-builder-modal #bs_nav-tabs li {
  flex: 1 1 auto;
  margin: 0 1px;
}

#drupal-off-canvas #bs_nav-tabs li a,
#layout-builder-modal #bs_nav-tabs li a {
  cursor: pointer;
  position: relative;
  padding: .5rem .75rem;
  min-height: 50px;
  min-width: 16.666%;
  color: #979AA1;
  background: #000000;
  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s background-color ease-in-out;
}

#drupal-off-canvas #bs_nav-tabs li a.active, #drupal-off-canvas #bs_nav-tabs li a.active:hover,
#layout-builder-modal #bs_nav-tabs li a.active,
#layout-builder-modal #bs_nav-tabs li a.active:hover {
  color: #2AAFFF;
}

#drupal-off-canvas #bs_nav-tabs li a:hover,
#layout-builder-modal #bs_nav-tabs li a:hover {
  color: #ffffff;
}

#drupal-off-canvas #bs_nav-tabs li a:hover .bs_tooltip,
#layout-builder-modal #bs_nav-tabs li a:hover .bs_tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

#drupal-off-canvas .blb_icon,
#layout-builder-modal .blb_icon {
  max-width: 24px;
  height: auto;
  background: none;
}

#drupal-off-canvas #bs_tabContent > .bs_tab-pane,
#layout-builder-modal #bs_tabContent > .bs_tab-pane {
  display: none;
}

#drupal-off-canvas #bs_tabContent > .active,
#layout-builder-modal #bs_tabContent > .active {
  display: block;
}
