/**
 * @file
 * Visual styling for buttons in the off-canvas dialog.
 *
 * @see seven/css/components/buttons.css
 */

//button,
//.button {
//  margin: 0 0 10px;
//  padding: 0;
//  cursor: pointer;
//  text-decoration: none;
//  text-transform: none;
//  border: 0;
//  box-shadow: none;
//  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
//  line-height: normal;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//}
button.link {
  //display: inline;
  //transition: color 0.5s ease;
  color: $button_text_color;
  //background: transparent;
  //font-size: 14px;
}
button.link:hover,
button.link:focus {
  //text-decoration: none;
  color: $button_text_color_hover;
}
input[type="submit"].button {
  //position: relative;
  //display: inline-block;
  //width: 100%;
  //height: auto;
  margin-top: 10px;
  padding: 11px 20px;
  //cursor: pointer;
  //transition: background 0.5s ease;
  //text-align: center;
  color: $button_text_color;
  //border: 0;
  border-radius: $border_radius;
  background: $button_bg_color;
  //font-size: 14px;
  font-weight: normal;
  border: 0;
}
input[type="submit"].button:hover,
input[type="submit"].button:focus,
input[type="submit"].button:active {
  //z-index: 10;
  //text-decoration: none;
  color: $button_text_color;
  //border: 0;
  //outline: none;
}
//input[type="submit"].button:focus,
//input[type="submit"].button:active {
//  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.1);
//}
input[type="submit"].button--primary {
  //margin-top: 15px;
  color: $button_text_color;
  //border: 0;
  background: $button_bg_color;
}
input[type="submit"].button--primary:hover,
input[type="submit"].button--primary:focus,
input[type="submit"].button--primary:active {
  //outline: none;
  background: $button_bg_color_hover;
}
//.button-action:before {
//  margin-left: -0.2em; /* LTR */
//  padding-right: 0.2em; /* LTR */
//  font-size: 14px;
//  line-height: 16px;
//}
//[dir="rtl"] .button-action:before {
//  margin-right: -0.2em;
//  margin-left: 0;
//  padding-right: 0;
//  padding-left: 0.2em;
//}
//.no-touchevents .button--small {
//  padding: 2px 1em;
//  font-size: 13px;
//}
.button:disabled,
.button:disabled:active,
.button.is-disabled,
.button.is-disabled:active {
  //cursor: default;
  color: #5c5c5c;
  //border: 0;
  background: #555;
  //font-weight: normal;
}
.button--danger {
  //text-decoration: none;
  color: #c72100;
  //border-radius: 0;
  //font-weight: 400;
}
.button--danger:hover,
.button--danger:focus,
.button--danger:active {
  //text-decoration: none;
  color: #ff2a00;
  //text-shadow: none;
}
.button--danger:disabled,
.button--danger.is-disabled {
  //cursor: default;
  color: #737373;
}
