/**
 * @file
 * Visual styling for tables in the off-canvas dialog.
 */

//table * {
//  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
//}
table {
  //display: table;
  //width: 100%;
  //min-width: calc(100% + 40px);
  /* Cancel out the padding of the parent to make the table full width. */
  //margin: 0 -20px -10px -20px;
  color: $panel_text_color;
  //border: 0;
  //border-collapse: collapse;
  //font-size: 12px;
}
//table thead {
//  display: table-header-group;
//}
//table tbody {
//  display: table-row-group;
//}
//tr {
//  display: table-row;
//}
//tr:hover td {
//  background-color: transparent;
//}

td,
th {
  //display: table-cell;
  //width: auto;
  //height: auto;
  //padding: 2px 8px;
  //vertical-align: middle;
  border-bottom: 1px solid #777;
  //background-color: transparent;
}
//[dir="rtl"] th,
//[dir="rtl"] td {
//  text-align: right;
//}
//th {
//  font-weight: bold;
//}
//th.checkbox,
//td.checkbox {
//  width: 20px;
//  padding: 0;
//  text-align: center;
//}
//div.checkbox.menu-enabled {
//  position: static;
//  display: inline;
//  width: auto;
//}
//th:first-child,
//td:first-child {
//  width: 150px;
//}
///* For lack of a better class, using this to grab the operations th. */
//.tabledrag-has-colspan {
//  padding-right: 20px;
//  text-align: right;
//}
td {
  //padding: 6px 8px;
  color: $panel_text_color;
}
/* Hide overflow with ellipsis for links. */
//td a {
//  display: block;
//  overflow: hidden;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//  background: transparent;
//}
//tr td:first-child,
//tr th:first-child {
//  padding-left: 20px; /* LTR */
//}
//[dir="rtl"] tr td:first-child,
//[dir="rtl"] tr th:first-child {
//  padding-right: 20px;
//}
