@import "../variables";

#layout-builder-modal {
  color: $panel_text_color;
  background: $panel_bg_color;
  padding: 0;



  .blb_tab-content {
    padding: 0 2rem;
  }

  // Update Button.
  #bs_ui ~ input[type="submit"] {
    float: right;
    margin: 1.5rem 2rem;
  }

  .bs_tab-pane--appearance {
    details {
      border: 0;
    }
  }
}
