@import "../variables";

#layout-builder-modal {
  color: $panel_text_color;
  background: $panel_bg_color;
  padding: 0;
  border-radius: 0 0 $border_radius $border_radius;

  @import "../dialog/components/*";

  .blb_tab-content {
    padding: 0 2rem;
  }

  // Update Button.
  #bs_ui  {
    #bs_nav-tabs {
      margin: 0 -40px 30px -40px;
      width: calc(100% + 40px);
    }

    ~ input[type="submit"] {
      float: right;
      margin: 1.5rem 2rem;
    }
  }
}

// Layout Builder Modal
.ui-dialog.ui-layout-builder-modal {
  border: 0;
  border-radius: $border_radius;
  background: transparent;

  .ui-dialog-titlebar {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: $border_radius $border_radius 0 0;
    background-color: $tab_bg_color;
    color: $panel_text_color;
    border: 0;
  }
}

