@import "../variables";

#layout-builder-modal {
  color: $panel_text_color;
  background: $panel_bg_color;
  padding: 0;

  .blb_tab-content {
    padding: 0 2rem;
  }

  // Update Button.
  #bs_ui ~ input[type="submit"] {
    float: right;
    margin: 0 2rem 1.5rem 2rem;

    //position: relative;
    //display: inline-block;
    //width: 100%;
    //height: auto;
    margin-top: 10px;
    padding: 11px 20px;
    //cursor: pointer;
    //transition: background 0.5s ease;
    //text-align: center;
    color: $button_text_color;
    //border: 0;
    border-radius: $border_radius;
    background: $button_bg_color;
    //font-size: 14px;
    font-weight: normal;
    border: 0;
  }

  .bs_tab-pane--appearance {
    details {
      color: $panel_text_color;
      background: $panel_bg_color;
      border: 0;

      a {
        color: $panel_text_color;

        &:hover {
          color: $gray-f8f;
        }
      }
    }
  }
}
