@import "../../variables";
@import "../../mixins";

#drupal-off-canvas,
#layout-builder-modal {
  #bs-border-preview {
    width: 281px;
    height: 217px;
    background: #2F3138;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  // Range sliders
  input[type=range]:focus {
    outline: none;
  }
}
